# Backend API URL
NEXT_PUBLIC_BACKEND_URL=https://backend.sil-sa.com

# Node Environment
NODE_ENV=production

# Server Port
PORT=3003

# Server Host (use 0.0.0.0 for production to bind to all network interfaces)
HOST=0.0.0.0

# Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=801196929391-r8do46k5fqrn2eifrd1333hgphkh2n0b.apps.googleusercontent.com
